#github-badge {
  padding: .2em;
  background-color: white;
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#github-badge a {
  color: #4183c4; /* blue */
  background-color: white;
  text-decoration: none;
}

#github-badge a:hover {
  text-decoration: underline;
}

#github-badge .header {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#github-badge .footer {
  font: 10px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#github-badge .repos ul#repo_listing {
  padding: .2em;
  margin: 0px;
}

#github-badge .repos li {
  list-style: none;
  margin-bottom: 0.25em;
  padding: .1em;
  font-size: 120%;
}

#github-badge .watching li {
  font-size: 110%;
}

#github-badge .repos img {
  vertical-align: middle;
}

#github-badge .repos .public {
  border: 1px solid #d8d8d8;
  background-color: #f0f0f0;
}

#github-badge .repos .public a {
  background-color: #f0f0f0;
}
